.cart {
  padding: 20px;
  padding-top: 15vh;

  .container {
    width: 100%;
  }

  .card {
    .wrapper {
      width: 100%;

      .alignright {
        text-align: right;
      }

      .combinetext {
        p {
          padding-right: 4px;
        }
      }
    }

    .divider {
      height: 1px;
      background-color: var(--light-grey);
    }

    .total {
      padding: 20px;
      padding-bottom: 0;

      h4 {
        margin: 0;
        padding: 0;
      }
    }
  }
}
