@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.loginlayout {
  position: relative;
  height: 100vh;

  .wrapper {
    display: flex;
    width: 100%;
    margin-top: 15%;

    @include media-break-point-up(xxl) {
      padding: 90px 0;
    }
    

    .logo {
      padding-top: 20px;

      .imgLogo {
        width: 25%;
      }
    }

    .container {
      flex-direction: column;
      padding: 15px 0;

      h3 {
        font-style: normal;
        font-family: 'Neue Plak Wide', Helvetica, Arial, sans-serif;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
        padding: 0;
        color: var(--mountain-mist);
        font-weight: 500;
      }
    }
  }

  .imgContainer {
    // position: fixed;
    // right: 0;
    height: 100vh;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: var(--white);
      left: 0;
      top: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .img {
      width: 50%;
      height: 50%;
      margin-top: 15%;
      margin-left: 15%;
      max-height: 100vh;
    }
  }
}
