@font-face {
  font-family: 'neuePlak-bold';
  src: url("../fonts/neue-plak/NeuePlak-Bold.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'neuePlak-compBlack';
  src: url("../fonts/neue-plak/NeuePlak-CompBlack.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'neuePlak-regular';
  src: url("../fonts/neue-plak/NeuePlak-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'neuePlak-wideBold';
  src: url("../fonts/neue-plak/NeuePlak-WideBold.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'neuePlak-wideExtraBlack';
  src: url("../fonts/neue-plak/NeuePlak-WideExtraBlack.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
